@page "/"
@using PhotoSync.Extensions;

<h3>Welcome to PhotoSync</h3>

<a href="/library/open" class="btn btn-primary btn-lg">
    <i class="bi bi-folder2-open"></i> Open Library
</a>

<a href="/library/create" class="btn btn-primary btn-lg">
    <i class="bi bi-folder-plus"></i> Create Library
</a>

