@page "/library"
@using System.IO;
@inject AppState appState;

@if (this.appState.Library is null) {
    <p>No library found.</p>
} else {
    <div class="row" style="height: 100vh;">
        <div class="col-12" id="viewer-controls">
            <button class="btn btn-secondary btn-sm">Refresh Library</button>
            <button class="btn btn-secondary btn-sm">Save Library</button>
            <button class="btn btn-secondary btn-sm">Show Excluded</button>
            <button class="btn btn-secondary btn-sm">Hide Excluded</button>
            <button class="btn btn-secondary btn-sm">Sync</button>
        </div>
        <div class="col-4" id="viewer-tree-pane">
            <LibraryViewerTree OnFolderSelected="FolderSelected" />
        </div>
        <div class="col-8" id="viewer-photo-pane">
            <LibraryViewerPhotoPane FolderPath="@selectedFolder" />
        </div>
    </div>
}

@code {

    private string selectedFolder = string.Empty;

    protected override void OnInitialized()
    {
        if (this.appState.Library is null)
        {
            return;
        }
    }

    private void FolderSelected(string folder)
    {
        this.selectedFolder = folder;
    }
}
