@page "/library/open"
@using System.Windows.Forms;
@using System.IO;
@inject PhotoSync.Infrastructure.IPhotoLibraryRepository repository;
@inject AppState appState;
@inject NavigationManager navigationManager;

<h3>Open Existing Library</h3>

<button class="btn btn-primary" type="button" @onclick="OpenFile">
    <i class="bi bi-folder2-open"></i> Open
</button>
<a href="/" class="btn btn-primary">
    <i class="bi bi-x-lg"></i> Cancel
</a>

@code {
    private void OpenFile()
    {
        var dialog = new OpenFileDialog()
            {
                Title = "Open Library",
                Filter = "db files (*.db)|*.db|All Files (*.*)|*.*",
                InitialDirectory = Environment.GetFolderPath(Environment.SpecialFolder.MyPictures),
                Multiselect = false
            };

        var result = dialog.ShowDialog();
        if (result == DialogResult.OK)
        {
            var path = dialog.FileName;
            if (!string.IsNullOrEmpty(path) && File.Exists(path))
            {
                var library = this.repository.Open(path);
                this.appState.Library = library;
                this.navigationManager.NavigateTo("/library");
            }
        }
    }
}
